<!--
<nav class="navbar">
  <span style="margin-left:15px"><a href="./departments">Departments</a> </span>
  <span style="margin-left:15px"><a href="./resources">Resources</a> </span>
  <span style="margin-left:15px"><a href="./projects">Projects </a> </span>
  <span style="margin-left:15px"><a href="./milestones">Milestones </a> </span>
  <span style="margin-left:15px"><a href="./tasks">Tasks </a> </span>
</nav>

-->

<div class="wrapper">

  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./holidays">Holidays</a></div>
    </label>
  </div>

  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./working-days">Workingdays</a></div>
    </label>
  </div>

  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./departments">Departments</a></div>
    </label>
  </div>


  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./titles">Titles</a></div>
    </label>
  </div>


  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./allocations">Allocations</a></div>
    </label>
  </div>



  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./resources">Resources</a></div>
    </label>
  </div>


  <hr />

  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./projects">Projects</a></div>
    </label>
  </div>


  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./milestones">Milestones</a></div>
    </label>
  </div>


  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./tasks">Tasks</a></div>
    </label>
  </div>


  <hr />


  <div class="wrap-1">
    <label for="tab-1">
      <div><a href="./resources">Timesheets</a></div>
    </label>
  </div>

</div>
