.navbar {
  background-color: #AAAAAA;
  height: 40px;
  vertical-align: middle;
  margin-top: -5px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-stretch: expanded 
}
