<h2>Resources</h2>
<hr />
<table class="table">
  <thead class="thead">
    <tr>
      <th>Resource ID </th>
      <th>Frist Name</th>
      <th>Last Name</th>
      <th>Generic Name</th>
      <th>Title</th>
      <th>Hours per Week</th>
      <th>Hours Per Day</th>
      <th>Weeks</th>
      <th>Working Days</th>
      <th>Holidays</th>
      <th>Budget Hours Gross </th>
      <th>Vacation Days</th>
      <th>Budget Hours Net</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td> {{ resource.id }} </td>
      <td> {{ resource.fname }} </td>
      <td> {{ resource.lname }} </td>
      <td> {{ resource.generic_name }} </td>
      <td> {{ resource.title }} </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
