<h2>Projects</h2>
<hr />
<table class="table">
  <thead class="thead">
    <tr>
      <th>Project ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Objective</th>
      <th>High Level Estimate (+/- 50%)</th>
      <th>Actual Spent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects; let i =index">
      <td> <a routerLink="{{project.id}}"> {{ project.id }} </a> </td>
      <td> {{ project.name }} </td>
      <td> {{ project.description }} </td>
      <td> {{ project.objective }} </td>
      <td> </td>
      <td> </td>
    </tr>
  </tbody>
</table>
